<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="blogContainer">
      <div class="blogContent">
        <h1>{{.Title}}</h1>
        <a href="/">Back to All Articles</a>
        <p class="articleDate">{{.PublishingDate}}</p>
        <p>{{.Content}}</p>
      </div>
    </div>
  </body>
</html>
